[submodule "ACIIDS"]
	path = ACIIDS
	url = https://github.com/m-zamoj/ACIIDS.git
[submodule "CogSci"]
	path = CogSci
	url = https://github.com/m-zamoj/CogSci.git
[submodule "PACLIC"]
	path = PACLIC
	url = https://github.com/m-zamoj/PACLIC.git
[submodule "ICTAI"]
	path = ICTAI
	url = https://github.com/m-zamoj/ICTAI.git
